//**********************************
//--- LAYOUT
//**********************************

@for $i from 1 through 4 {
  .nav > ul > li:nth-child(#{$i}) > a > span:after { background-color: map_get($colors, c#{$i}) }
}
@for $i from 1 through 2 {
  .nav > ul > li:nth-child(#{4+$i}) > a > span:after { background-color: map_get($colors, c#{$i}) }
}
$strings: (
        s1: 'Future slider',
        s2: 'Moving cube',
        s3: 'Rainbow :)',
        s4: 'Simple logo',
        s5: 'Cool btns',
        s6: 'Roller select',
);
@for $i from 1 to 7 {
  .nav > ul > li:nth-child(#{$i}) > a > span:before,
  .nav > ul > li:nth-child(#{$i}) > a > span:after {
    content: map_get($strings, s#{$i});
  }
}

//--- LIST
.nav {
  background-image: url("./img/bg3.png");
  width: 100%;
  height: $navCubeHeight*2.5;
  margin: 25px 0;
  min-width: $navCubeWidth*7;
  position: relative;
  //position: absolute;
  //top: 25px;
}

.nav > ul {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  display: flex;
}

.nav > ul > li {
  list-style: none;
  position: relative;
  margin: 0 4px;

  & > a {
    width: $navCubeWidth;
    height: $navCubeHeight;
    display: block;
    transition: .5s;
    background-color: #ccc;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: $navCubeWidth;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    transition: .5s;
    opacity: .35;
    filter: blur(2px);
    transform: scale(1.02);
  }

  &:hover:before {
    opacity: .25;
    transition-delay: .15s;
    transform: scale(.9);
  }

  &:hover > a {
    transform: translateY(-15px);
  }
}

//--- CUBE STYLE LIST
.nav > ul > li > a > span {
  width: 100%;
  height: 100%;
}

.nav > ul > li > a > span:before {
  //content: '';
  text-align: center;
  line-height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #262626;
  font-size: 17px;
  font-weight: bold;
  transform-origin: top;
  transition: transform .5s;
}

.nav > ul > li:hover > a > span:before {
  transform: rotateX(90deg) translateY(-50%);
}

.nav > ul > li > a > span:after {
  //content: '';
  text-align: center;
  line-height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  transform-origin: bottom;
  transition: transform .5s;
  transform: rotateX(90deg) translateY(50%);
}

.nav > ul > li:hover > a > span:after {
  transform: rotateX(0deg) translateY(0);
}

//**********************************

.choose-style {
  background-image: url("./img/bg3.png");
  color: #262626;
  width: $navCubeWidth*7;
  height: $navCubeHeight*7;
  position: relative;
  margin: 0 auto;
  //position: absolute;
  //transform: translate(-50%);
  //top: $navCubeHeight*3.2;
  //left: 50%;

  & h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
  }
}

.display-style {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.display-style > .hide-style {
  display: none;
}

//**********************************

@keyframes waitForIt {
  0% {
    filter: blur(0);
  }
  35% {
    filter: blur(20px);
  }
  70% {
    filter: blur(0);
  }
  100% {
    filter: blur(0);
  }
}

@for $i from 1 through 7 {
  .waiting span:nth-child(#{$i}) { animation-delay: #{$i/10}s }
}

.waiting span {
  letter-spacing: 3px;
  font-size: 75px;
  animation: waitForIt 4s linear infinite;
}

//**********************************

.footer {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 25px 0;
}