//--- LOGO M.F.
$widthMFLogo: 310px;
$heightMFLogo: 126px;
$MFAnimationTime: .5s;

//--- DANCING CUBE
$cubeSize: 100px;
$axisZCube: 50px; // 1/2 cubeSize

//--- FUTURE GALLERY
$galleryHeight: 150px;
$galleryWidth: 200px;
$axisZGallery: 300px;
$galleryColor: aquamarine;

//--- ROLLER SELECT
$axisZRoller: 34px;

//--- RAINBOW BORDER SHADOW
$rainbowBorderSize: 2px;
$rainbowBorderWidth: 400px;
$rainbowBorderHeight: 250px;

//--- PERSPECTIVE BUTTONS