//--- BASE
$colors: (
        c1: tomato,
        c2: #E27E02,
        c3: #369,
        c4: #0EB400,
        c5: #E27,     //Test this color in the future. Now my base on 4.
        c6: #F9C00C,     //Test this color in the future. Now my base on 4.
);

// *** Its main height for nav, menu, layout *** //
$navCubeHeight: 80px;
$navCubeWidth: 120px;

//**********************************

//--- FUTURE GALLERY
$galleryHeight: 150px;
$galleryWidth: 200px;
$axisZGallery: 300px;
$fgForScale: 100%;
$galleryColor: #9cf;
$howManySliders: 6;

//--- MOVING CUBE
$cubeSize: 140px;
$axisZCube: 70px; // 1/2 cubeSize
$cubeBorder: 15px;

//--- RAINBOW BORDER SHADOW
$rainbowBorderSize: 1px;
$rainbowBorderWidth: 400px;
$rainbowBorderHeight: 250px;

//--- LOGO M.F.
$colorMF1: map_get($colors, c3);
$colorMF2: #262626;
$borderMF: 12px;
$widthMFLogo: 350px;
$heightMFLogo: 150px;
$scaleMF: 0.8;
$MFAnimationTime: .5s;

//--- PERSPECTIVE BUTTONS
$widthPerspectiveBtns: $navCubeWidth*6;
$heightPerspectiveBtns: $navCubeHeight*5.5;

//--- ROLLER SELECT
$widthRoller: 250px;
$heightRoller: 100px;
$axisZRoller: 68px;