//**********************************
//--- FUTURE GALLERY
//**********************************

@mixin btns() {
  position: absolute;
  font-size: 80px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  top: 50%;
  transform: translate(0, -50%);
  transition: all .2s;
  color: $galleryColor;
  text-shadow:
          0 1px #262626,
          1px 0 #262626,
          -1px 0 #262626,
          0 -1px #262626;
}

//--- ANIMATIONS
.move-gallery {
  //transform: rotateX(5deg) rotateY(-60deg);
  animation: gallery-animation infinite 30s linear;
}

@for $i from 1 through $howManySliders {
  .show-fg#{$i} {
    transform: rotateY(#{$i*360/$howManySliders}deg);
    transition: all .7s;
  }
}

@for $i from 1 through $howManySliders {
  .gallery-future#{$i} {
    //background-color: rgba(map_get($colors, c#{$i}), .5);
    transform: rotateY(#{$i*360/$howManySliders}deg) translateZ($axisZGallery);
  }
}

@keyframes gallery-animation {
  from { transform: /*rotateX(-1deg)*/ rotateY(0deg); }
  50% { transform: /*rotateX(1deg)*/ rotateY(-180deg); }
  to { transform: /*rotateX(-1deg)*/ rotateY(-360deg); }
}

//**********************************

.div-fg {
  width: $fgForScale;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#btn-fg1 {
  @include btns();
  left: 20px;
}

#btn-fg2 {
  @include btns();
  right: 20px;
}

#btn-fg1, #btn-fg2 {
  transition: all .2s;

  &:hover {
    transform: translate(0, -50%) scale(1.2);
  }
  &:active {
    color: darken($galleryColor, 5%);
    transform: translate(0, -50%) scale(1.1);
  }
}

.future-gallery {
  position: relative;
  margin: $navCubeHeight*3.5 auto 0 auto;
  transform: translate(0, -50%);
  //width: $galleryWidth *1.5;
  width: $galleryWidth;
  height: $galleryHeight; // -> only in this selector. Another perspective with height 0 or more :)
  perspective: 1200px;
  //transform: rotate(5deg);
}

.move-fg {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.move-fg > div {
  width: $galleryWidth;
  height: $galleryHeight;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  font-size: 40px;
  font-weight: bold;
  background-color: rgba($galleryColor, .85);
  //opacity: .88;
}