//**********************************
//--- RAINBOW BORDER SHADOW
//**********************************

@keyframes rainbowGradient {
  0% { background-position: 0 0; }
  100% { background-position: 100% 0; }
  //50% { background-position: 100% 0; }
  //100% { background-position: 0 0; }
}

//**********************************

.rainbow-border {
  position: relative;
  width: $rainbowBorderWidth + $rainbowBorderSize*2;
  height: $rainbowBorderHeight + $rainbowBorderSize*2;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 500%;
  animation: rainbowGradient 5s linear infinite;

  &:after {
    content: '';
    position: absolute;
    filter: blur(35px);
    width: $rainbowBorderWidth + $rainbowBorderSize*2;
    height: $rainbowBorderHeight + $rainbowBorderSize*2;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 500%;
    animation: rainbowGradient 5s linear infinite;
  }

  span {
    position: absolute;
    top: $rainbowBorderSize;
    left: $rainbowBorderSize;
    width: $rainbowBorderWidth;
    height: $rainbowBorderHeight;
    background-color: #262626;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 2;

    p {
      font-size: 50px;
      font-weight: bold;
      text-shadow: 1px 0 #fff;
      letter-spacing: 5px;
    }
  }
}