//**********************************
//--- PERSPECTIVE BUTTONS
//**********************************

.fixed-clip-path {
  position: absolute;
  width: $widthPerspectiveBtns;
  height: $heightPerspectiveBtns;
  margin-top: 15px;
  //border: 1px solid red;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #eee;
  color: #262626;
}

.clip-bg1, .clip-bg2 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.clip-bg1 {
  -webkit-clip-path: polygon(63% 70%, 100% 6%, 100% 100%, 6% 100%);
  clip-path: polygon(63% 70%, 100% 6%, 100% 100%, 6% 100%);
  z-index: 2;
  background-color: tomato;
}

.clip-bg2 {
  -webkit-clip-path: polygon(53% 60%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(53% 60%, 100% 0, 100% 100%, 0% 100%);
  z-index: 1;
  background-color: lighten(tomato, 10%);
  //background-color: darken(tomato, 50%);
}

//---
.container-clip-path {
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: auto;
  align-self: center;
  margin: 0 30px 50px 30px;
  z-index: 3;
}

//--
#cp-left > h3 {
  text-align: center;
  font-size: 45px;
}

//---
#cp-right > ul {
  list-style-type: none;
  perspective: 800px;

  li {
    //display: grid;
    //grid-template-columns: 20% auto;

    &:nth-child(1) button {
      background: #D5A7BD;
      top: -86px;
      right: 30px;
      z-index: 2;
    }

    &:nth-child(2) button {
      background: #FFCFC8;
      right: 30px;
      z-index: 1;
    }

    &:nth-child(3) button {
      background: #FFF6C8;
      right: 30px;
      top: 86px;
    }

    button {
      border-radius: 15px;
      cursor: pointer;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      color: #262626;
      width: 250px;
      height: 100px;
      transition: all .3s;
      transform: rotateY(-30deg) rotateX(20deg);
      mix-blend-mode: multiply;
      position: absolute;
      border-bottom: 4px solid rgba(0,0,0, .2);
      outline: none;

      &:hover {
        transform: rotateY(-20deg) rotateX(9deg) scale(1.06);
        transition: transform .5s ease-out;
        z-index: 3;
        mix-blend-mode: normal;
      }

      &:active {
        transition: all .15s;
        transform: rotateY(-20deg) rotateX(9deg) scale(1.03);
      }
    }
  }
}